<h1 class="head">Books</h1>

<table>
<% @books.each do |book| %>
  <div class="book-box">
    <div class="book-title"><%= book.title %></div>
    <div class="book-body"><%= book.body %></div>
    <span class="book-show"><%= link_to "Show", book_path(book.id) %></span>
    <span class="book-edit"><%= link_to "Edit", edit_book_path(book.id) %></span>
    <span class="book-destroy"><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %></span>
  </div>

<% end %>

</table>


<h2 class="new-book">New book</h2>

<% if @book.errors.any? %>
  <%= @book.errors.count %>Error Occurred
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  
  <p>Body</p>
  <%= f.text_area :body %>
  
  <p><%= f.submit 'Create Book' %></p

<% end %>




